.loading-wrapper.container.main-container
  %loading{ng-if: '!subscriptionPage.group'}
  .group-page__cover{ng-if: 'subscriptionPage.group', style:'background-image:url({{subscriptionPage.group.coverUrl()}})'}
  %main.main-container.subscription-page{ng-if: 'subscriptionPage.group'}
    %section.group-page__header{aria-label: "{{ 'group_page.header.aria_label' | translate }}"}
      .group-page__logo{style:'background-image:url({{subscriptionPage.group.logoUrl()}})', alt: "{{ 'group_page.group_logo' | translate }}"}
      .group-page__name-and-actions
        .group-page__name
          %h1.lmo-h1
            %a{lmo-href-for: 'subscriptionPage.group.parent()', ng-show: 'subscriptionPage.group.parentId'}
              {{subscriptionPage.group.parentName()}}
            %span{ng_show: 'subscriptionPage.group.parentId'}> \-
            %a{lmo-href-for: 'subscriptionPage.group'}
              {{subscriptionPage.group.name}}
      .subscription-page__subscription
        .lmo-card
          %p.lmo-h2.current-plan
            %span> You are currently on
            %span {{subscriptionPage.groupPlan()}}
          %p{ng-if: 'subscriptionPage.groupPlan() != "gift"'}
            %button.btn.btn-primary.switch-to-gift Switch to Gift Plan
          %p{ng-if: 'subscriptionPage.groupPlan() != "standard"'}
            %button.btn.btn-primary.switch-to-standard Switch to Standard ($19 / month)
          %p{ng-if: 'subscriptionPage.groupPlan() != "premium"'}
            %button.btn.btn-primary.switch-to-premium Switch to Premium ($179 / month)
